
html.js. cbp-ntcontent {
 display: none;
}

body {
	background-color: white;
}
h3, h4 {
	color: cornflowerblue;
	font-size: 20pt;
	border-bottom: 1px solid lightgrey;
}
h5 {
	color: darkgrey;
}
.js .cbp-ntcontent {
	display: none;
}
}
.cbp-ntopen > .cbp-ntcontent {
	display: block;
}
