/*
html.js. cbp-ntcontent {
  display: none;
}
git .cbp-ntopen > .cbp-ntcontent {
  display: block;
}
*/

body {
  background-color: white;
  font-family: Calibri, Arial, sans-serif;
  font-size: 16pt;
  line-height: 30px;
  margin-left: 45px;
  margin-right: 45px;
}
h3, h4 {
  color: cornflowerblue;
  border-bottom: 1px solid lightgrey;
}
h3 {
  color: cornflowerblue;
  font-size: 2.75em;
  margin: 0 0 0.3em;
  padding: 0.5em;
}
h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0.5em;
  margin: 0 0 0.5em;
}
h5 {
  font-size: 1.2em;
  color: darkgrey;
  padding: 0.5em;
  margin: 0 0 0.5em;
}

.cbp-nttrigger::before {
    list-style-image: url('rightArrow.png');
    padding-right: 0.5em; /*etc. (can accept normal properties, does not alter HTML)*/
}
.cbp-nttrigger::after {
    list-style-image: url('downArrow.png');
    padding-right: 0.5em; /*etc. (can accept normal properties, does not alter HTML)*/
}

.js .cbp-ntcontent {
  display: none;
}

.cbp-ntopen > .cbp-ntcontent {
display: block;
ul {
  list-style-image: url('rightArrow.png');
  list-style-position: inside;
  margin-left: 30px;
}
ul > .cbp-ntopen {
  list-style-image: url('downArrow.png');
}

p {
  line-height: 30px;
  font-size: 0.50cm;
}
}
li:hover {
  cursor: pointer;
}
.cbp-nttrigger:hover::before {
  cursor: pointer;
  font-weight: bold;
}
