body {
    color: darkgrey;
    font-family: 'Calibri', sans-serif;
}

h1 {
    color: cornflowerblue;
    font-family: 'Comic Sans', sans-serif;
    font-size: 30pt;
}


h3 {
    color: cornflowerblue;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    list-style: none;
}

.cbp-vm-details {
    color: cornflowerblue;
}

#cbp-vm {
    border-style: solid;
    border-color: cornflowerblue;
}
ul {
    list-style: none;
}
.cbp-vm-switcher.cbp-vm-view-grid li {
    list-style: none;
    display: inline-block;
    width: 30%;
}
.cbp-vm-options .cbp-vm-icon {
  display: inline-block;
  width: 5em; height: 5em;
  background-color: lightblue;
}

.cbp-vm-options a {
    color: cornflowerblue;
    text-decoration-line: none;
    text-align: right;
}
.cbp-vm-icon {
  display: inline-block;
  width: 5em;
  height: 5em;
  background-color: lightblue;
}

.cbp-vm-switcher.cbp-vm-view-list li > * {
    list-style: none;
    display: inline-block;
    width: 100%;
  }
  .cbp-vm-switcher.cbp-vm-view-list li .cbp-vm-image {
      width: 25%; max-width: 200px;
    }
